*, body{
    font-family:"baloo 2", "sans-serif";
}

#login_col{
    border-radius: 4px;
    box-shadow: inset 0 -2em 2em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.btn-col{
    text-align: right;
}

#image1, #image2, #image3, #image4{
    box-shadow: 0 0 0 2px rgb(255, 255, 255), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

#box{
    box-shadow: 0 0 0 2px rgb(255, 255, 255), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    background-color: white;
    height: 100%;
    width: 100%;
    border-radius: 4px;
}

#login_btn, #signup_btn{
    bottom :0;
    width:49%;
}

#login_btn{
    background-color:#385a64
}

#signup_btn{
    float: right;
    background-color:#ff4f5a
}

#profile_avatar{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    box-shadow: 0 0 0 2px rgb(255, 255, 255), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

#profile_div{
    box-shadow: 0 0 0 2px rgb(255, 255, 255), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.image_box{
    width: 70%;
    height: 400px;
    background-color: white;
}
.watermark_image{
    width: 50px;
    height: 50px;
    opacity: 0.5;
}

#user_profile_image{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

#friend_profile_image{
    border: 2px solid white;
    height: 100%;
    box-shadow: 0 0 0 2px rgb(255, 255, 255), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

#chat_profile_avatar{
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

#chat_room_div{
    border-radius: 4px;
    box-shadow: 0 0 0 2px rgb(255, 255, 255), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

#message_div{
    overflow-y: auto;
    height: 300px;
}

#userdetail_div{
    box-shadow: 0.2em 0.2em 0.5em rgba(0, 0, 0, 0.3);
    z-index: 10;
    position: relative;
}