{% extends 'base.html' %}

{% load static %}

{% block head %}
    <title>Chat Room : Chat Application </title>
    <link rel="stylesheet" href = '{% static "css/base.css" %}'>
    <script src="https://kit.fontawesome.com/a6c479c4d6.js" crossorigin="anonymous"></script>
{% endblock head %}

{% block content %}
    <div  class="py-5">
        <div class="row">
            <div class="col-md-3">
            </div>
            <div class="col-md-6 bg-white py-5 px-5" id="chat_room_div">
                <div class="row py-2" id="userdetail_div">
                    <div class="col-md-1">
                        <img src="{% static 'images/profile_avatar.webp' %}" id="chat_profile_avatar">
                    </div>
                    <div class="col-md-11 mt-1">
                        <label>@{{ chat_user.user.username }}<br>
                        <small class="text-muted">Click to see profile..</small></label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 py-5 px-5 bg-light rounded overflow-auto" id="message_div">

                        {% if messages %}
                            {% for message in messages %}
                                <div class="row mt-2 px-2 border py-2 rounded">
                                    <div class="col-md-12">
                                        <strong>@{{ message.sender.username }}</strong>
                                        <p>{{ message.value }}</p>
                                        <small class="text-muted">{{ message.date }}</small>
                                    </div>
                                </div> 
                            {% endfor %}
                        {% endif %}                       
                    </div>
                </div>     
                <form method="post"> 
                    {% csrf_token %}          
                    <div class="row mt-3">
                        <div class="col-md-12 input-group">
                            <input type="text" class="form-control" placeholder="Write Your Message Here...." id="message">
                            <button type="button" class="btn btn-info" id="message_send_btn" data-sender = "{{ user.id }}" data-receiver = "{{ chat_user.user.id }}">
                                <i class="fa fa-paper-plane" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>     
                </form>           
            </div>
            <div class="col-md-3">
            </div>
        </div>
    </div>
    <script type="text/javascript" src="{% static 'js/message.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            setInterval(function(){
                $.ajax({
                    type: 'GET',
                    url : "/chat_room/{{ chat_user.user.id }}/",
                    success: function(response){
                        console.log(response.messages);
                        $("#message_div").empty();
                        for (var key in response.messages)
                        {
                            var temp=`
                            "<div class='bg-light'><b>"+response.messages[key].user+"</b><p>"+response.messages[key].value+"</p><span class='time-left'>"+response.messages[key].date+"</span></div>"
                            `;
                            $("#display").append(temp);
                        }
                    },
                    // error: function(response){
                    //     alert('An error occured')
                    // }
                });
            },1000);
        })
    </script>
{% endblock content %}