{% extends 'base.html' %}

{% load static %}

{% block head %}
    <title>Login : Chat Application </title>
    <link rel="stylesheet" href = '{% static "css/base.css" %}'>
    <script src="https://kit.fontawesome.com/a6c479c4d6.js" crossorigin="anonymous"></script>
{% endblock head %}

{% block content %}
    <div>
        <div class="row">
            <div class="col-md-3">
            </div>
            
            <div class="col-md-6 bg-white py-5 px-5" id="login_col">
                <div class="row">
                    <div class="col-md-5">
                        <img id="friend_profile_image" src="{% static 'images/profile_avatar.webp' %}" alt="profile_image" class="w-100">
                    </div>
                    
                    <div class="col-md-7">
                        <label>Name : <strong>{{ profile_user.user.first_name }} {{ profile_user.user.last_name }}</strong></label><br>
                        <label>Username : <strong>{{ profile_user.user.username }}</strong></label><br>
                        <label>Email : <strong>{{ profile_user.user.email }}</strong></label><br>
                        <label>Date Of Birth : <strong>{{ profile_user.date_of_birth }}</strong></label>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
            </div>
        </div>
    </div>
    
{% endblock content %}