{% extends 'base.html' %}

{% load static %}

{% block head %}
    <title>Home : Chat Application </title>
    <link rel="stylesheet" href = '{% static "css/base.css" %}'>
    <script src="https://kit.fontawesome.com/a6c479c4d6.js" crossorigin="anonymous"></script>
{% endblock head %}

{% block content %}
    <div  class="container" >
        <div class="row">
            <div class="col-md-4">
                <div class="row mt-3">
                    <div class="col-md-12">
                        <img  class="w-100" src="{% static 'images/slide_1.jpg' %}" alt="image1.jpg" id="image1">
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12">
                        <img  class="w-100"  src="{% static 'images/slide_4.jpg' %}" alt="image4.jpg" id="image2">
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-12">
                        <img  class="w-100 "  src="{% static 'images/slide_3.jpg' %}" alt="image2.jpg" id="image3">
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12">
                        <img  class="w-100"  src="{% static 'images/slide_2.jpg' %}" alt="image3.jpg" id="image4">
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div id="box" class="mt-3 px-3 py-3">
                    {% if not user.is_authenticated %}
                        <p></p>
                        <a href="{% url 'login' %}" class="btn btn-default text-white" id="login_btn">Login &nbsp; <i class="fa fa-sign-in" aria-hidden="true"></i></a>
                        <a href="{% url 'register' %}" class="btn btn-default text-white" id="signup_btn">Sign Up &nbsp; <i class="fa fa-plus-circle" aria-hidden="true"></i></a>
                    {% else %}
                        <div class="row py-5 px-3">
                            <div class="col-md-12 text-center">
                                <img src="{% static 'images/profile_avatar.webp' %}" alt="profile.image" id="user_profile_image">
                            </div>
                        </div>
                        <div class="row px-3">
                            <div class="col-md-12">
                                <label>Name : {{ user.first_name }} {{ user.last_name }}</label><br>
                                <label>Username : {{ user.username }}</label>
                            </div>
                        </div>
                        <div class="row mt-3 px-3">
                            {% if user.is_authenticated and not profile %}
                                <div class="col-md-9 text-right border-right">
                                    <a href="#" class="btn btn-warning w-100">Create Profile</a>
                                </div>
                            {% else %}
                                <div class="col-md-9 text-right border-right">
                                    <a href = "{% url 'profile' user.pk %}" class="btn btn-info text-white w-100">Click here to profile</a>
                                </div>
                            {% endif %}
                            <div class="col-md-3 text-left">
                                <a href="{% url 'logout' %}" class="btn btn-danger w-100"><i class="fa fa-power-off" aria-hidden="true"></i></a>
                            </div>
                        </div>
                        
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    
{% endblock content %}