{% extends 'base.html' %}

{% load static %}

{% block head %}
    <title>Login : Chat Application </title>
    <link rel="stylesheet" href = '{% static "css/base.css" %}'>
    <script src="https://kit.fontawesome.com/a6c479c4d6.js" crossorigin="anonymous"></script>
{% endblock head %}

{% block content %}
    <div  id="background_image">
        <div class="row">
            <div class="col-md-3">
            </div>
            {% block login_form %}
            <div class="col-md-6 bg-white py-5 px-5" id="login_col">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-2">
                            <a class="text-default" href="{% url 'home' %}">
                                <i class="fa fa-angle-left" aria-hidden="true"></i> &nbsp;
                                <i class="fa fa-home fa-lg" aria-hidden="true"></i>
                            </a>
                        </div>
                        <div class="col-md-10">
                        
                        </div>
                    </div>
                    <h4 class="mt-3">Log<u>i</u>n</h4>
                    <div class="row mt-3">
                        <div class="col-md-12">
                            <label class="text-secondary">Username :</label>
                            <input type="text" class="form-control" placeholder="Enter Username.." id="username" name="username">
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-12">
                            <label class="text-secondary">Password : </label>
                            <input type="password" class="form-control" placeholder="Enter Password.." id="password" name="password">
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12 btn-col">
                            <button class="btn btn-info">Login &nbsp; &nbsp;<i class="fa fa-sign-in fa-sm"></i></button>
                            <button class="btn btn-default">Reset &nbsp; &nbsp;<i class="fa fa-refresh fa-sm"></i></button>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12 text-center">
                            New User? <a href="{% url 'register' %}">Register Here</a>
                        </div>
                    </div>
                </form>
            </div>
            {% endblock login_form %}
        
            <div class="col-md-3">
            </div>
        </div>
    </div>
    
{% endblock content %}