{% extends 'base.html' %}

{% load static %}
{% block head %}
    <title>Upload Profile : Chat Application</title>
{% endblock head %}

{% block content %}
    <div class="container">
        <form class="mt-5" method = "POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-6">
                    <div class ="image_box w-100" >
                        <img src="{% static 'images/image.png' %}" class="watermark_image">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-12">
                            <label>Date Of Birth : </label>
                            <input type="date" placeholder="Enter Date Of Birth.." class="form-control" id="dob" name="date_of_birth">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <button class="btn btn-block">
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock content %}