{% extends 'base.html' %}

{% load static %}

{% block head %}
    <title>{{ profile_user.user.username }} : Chat Application </title>
    <link rel="stylesheet" href = '{% static "css/base.css" %}'>
    <script src="https://kit.fontawesome.com/a6c479c4d6.js" crossorigin="anonymous"></script>
{% endblock head %}

{% block content %}
    
    <div  class="container" >
        <div class="row py-5 px-2 bg-white" id="profile_div">
            <div class="col-md-4">
                <div class="row mt-3">
                    <div class="col-md-10">
                        <h5>Deta<u>i</u>ls</h5>
                    </div>
                    <div class="col-md-2">
                        <a href="{% url 'home' %}">
                            <i class="fa fa-home" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-12">
                        <div class="profile_avatar px-5 mt-3 text-center">
                            <img src="{% static 'images/profile_avatar.webp' %}" alt="profile_avatar.jpg" id="profile_avatar">
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12 small">
                        <label>Username :  <b>{{ profile_user.user.username }}</b></label><br>
                        <label>Name : <b>{{ profile_user.user.first_name }} {{ profile_user.user.last_name }}</b></label><br>
                        <label>Email : <b>{{ profile_user.user.email }}</b></label><br>
                        <label>Date Of Birth : <b>{{ profile_user.date_of_birth }}</b></label><br>
                        <label>Super User : <b>{{ profile_user.user.is_superuser }}</b></label>
                        
                        <a href = "{% url 'update_profile' %}" class="btn btn-info w-100 mt-3">Update Profile </a>
                    </div>
                </div>
            </div>
            <div class="col-md-8 py-3 px-3 border-left">
                <div class="row mb-5">
                    <div class="col-md-6">
                        <h5>Fr<u>i</u>ends</h5>
                        {% for users in all_users %}
                            <div class="row mt-3">
                                <div class="col-md-3">
                                    <img src="{% static 'images/profile_avatar.webp' %}" id="friends_profile_avatar" class="w-100 h-100">
                                </div>
                                <div class="col-md-9">
                                    <h6>{{ users.user.username }}</h6>
                                    <a href="{% url 'chat_room' users.user.id %}" class="btn btn-success btn-sm" id="chat_btn" data-id="{{users.user.id}}">Chat <i class="fa fa-comments" aria-hidden="true"></i></a>
                                    <a href="{% url 'friend_profile' users.user.id %}" class="btn btn-primary btn-sm" id="view_profile_btn" >View Profile <i class="fa fa-eye" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    
{% endblock content %}