{% extends 'registration/login.html' %}

{% load static %}

{% block head %}
    <title>{{ user.username }} : Chat Application </title>
    <link rel="stylesheet" href = '{% static "css/base.css" %}'>
    <script src="https://kit.fontawesome.com/a6c479c4d6.js" crossorigin="anonymous"></script>
{% endblock head %}

{% block login_form %}
<div class="col-md-6 bg-white py-5 px-5" id="login_col">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-2">
                <a class="text-default" href="{% url 'home' %}">
                    <i class="fa fa-angle-left" aria-hidden="true"></i> &nbsp;
                    <i class="fa fa-home fa-lg" aria-hidden="true"></i>
                </a>
            </div>
            <div class="col-md-10">
            
            </div>
        </div>
        <h4 class="mt-3">Update<u>Profile </u></h4>
        <div class="row mt-3">
            <div class="col-md-12">
                <label class="text-secondary">Username :</label>
                <input type="text" class="form-control" placeholder="Enter Username.." id="username" name="username" disabled value="{{ user.username }}">
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-md-12">
                <label class="text-secondary">First Name : </label>
                <input type="text" class="form-control" placeholder="Enter First Name.." id="first_name" name="first_name" value= "{{ user.first_name }}">
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-md-12">
                <label class="text-secondary">Last Name : </label>
                <input type="text" class="form-control" placeholder="Enter Last Name.." id="last_name" name="last_name" value = "{{ user.last_name }}">
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-md-12">
                <label class="text-secondary">Email : </label>
                <input type="email" class="form-control" placeholder="Enter Email ID.." id="email" name="email" value= "{{ user.email }}">
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-md-12">
                <label class="text-secondary">Date Of Birth : </label>
                <input type="date" class="form-control" placeholder="Enter Date of Birth.." id="date_of_birth" name="date_of_birth" value="{{ date_of_birth }}">
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-12 btn-col">
                <button class="btn btn-info">Update Profile&nbsp; &nbsp;<i class="fa fa-sign-in fa-sm"></i></button>
            </div>
        </div>
    </form>
</div>
{% endblock login_form %}
